*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' sans-serif;
    background-color: #f1f1f1;
}
.bars{
    width: 250px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 90px;
    overflow-y: auto;
}
.bars  .nav-link span{
    padding: 0 15px;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 15px;
}
.nav-footer{
    padding-right: 30px;
    padding-left: 1rem;
}
.nav-link{
    padding: 0;
    padding-right: 5px;
    font-size: 15px;
    font-weight: 400;
}

.chip-container{
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 99;
    position: fixed;
    top: 90px;
    width: 100%;
    
    
}
.chip{
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 10px 15px;
    font-size: 12px;
    background-color:  rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    margin-right: 5px;
    border-radius: 25px;
}

.chip.active{
    background-color: black;
    color: white;
}
